body{
    margin: 0%;
}

header{
    display: flex;
    height: 4rem;
    width: 100%;
    color: black;
    flex-direction: row;
}

.logo{
display: flex;
flex-shrink: 0;
height: 4rem;
width: 7rem;
}

.logo a {
display: flex;
width: 100%;
height: auto;
}

.logo a img {
width: 100%;
height: auto;
}

nav {
display: flex;
flex-grow: 1;
width: 100%;
height: auto;
}

.element_nav{
    display: flex;
    width: 100%;
    height: auto;
    margin-right: 1rem;
    align-items: center;
    justify-content: end;
}

.element_nav ul {
    gap: 10px;
}